
/* Body should have no margin to allow fullscreen background image */
html, body {
    margin: 0;
    padding: 0;
    height:100%;
}

.shell {
    width: 100%;
    min-height: 100%;
    float: left;
    background-color: #dceded;
    padding-bottom: 30pt;
}

.banner {
    background-color: #000;
    padding: 5pt 60pt 5pt 60pt;
}

.banner > h1 {
    color: #fff;
    margin: 0;
}

.removeItemButton {
	float: right;
}

.items {
	padding: 5pt 60pt 5pt 60pt;
	float: left;
}

.item {
	float: left;
	width: 100%;
	border-bottom: 1px solid black;
	margin-bottom: 10pt;
}

.itemControls {
	float: right;
	padding-bottom: 5pt;
}

.itemText {
	display: inline-block;
}

.itemImage {
	display: inline-block;
	float: left;
	width: 100px;
	height: 100px;
	margin-right: 10pt;
}

.itemDetails {
	display: block;
	margin-bottom: 5pt;
}

.itemPrice {
	float: right;
	margin: 0 5pt 0 0;
}

.itemQuantity {
	float: right;
	margin: 0 5pt 0 0;
}

.receiptButton {
	float: right;
}

.lowerReceipt {
	padding: 5pt 30pt 5pt 30pt;
}

.creditCardInfo {
	float: left;
}

.costs {
	float: right;
}

.costTags {
	text-align: right;
	display: inline-block;
	margin-right: 5pt;
}

.prices {
	text-align: left;
	display: inline-block;
}

.resetButton {
	width: 100%;
}

.inputField {
	min-width: 200px;
}

@media screen and (max-width: 840px) {
    .receipt {
		width: 100%;
	}

	.lowerReceipt {
		text-align: center;
	}

	.creditCardInfo {
		width: 100%;
	}

	.costs {
		width: 100%;
		float: left;
	}

	.resetButton {
		width: 200px;
	}

	.banner {
		padding: 5pt 30pt 5pt 30pt;
	}

	.items {
		padding: 5pt 30pt 5pt 30pt;
		float: left;
	}

	.item {
		text-align: center;
	}

	.itemImage {
		width: 200px;
		height: 200px;
		float: none;
		margin: 0;
	}

	.itemText {
		width: 100%;
	}
}

@media screen and (min-width: 841px) {
    .receipt {
		padding: 5pt 30pt 5pt 30pt;
		width: 90%;
	}

}

