
.main-content {
	padding-top: 50px;
	margin-bottom: 30pt;
}

.headshot, .itemImage {
	max-width: 100%;
	max-height: 100%;
}

.centered {
	text-align: center;
}

/* Styling to create the illusion of an ordered list */
.myListElement {
    margin-bottom: 6pt;
    text-indent: 12pt;
}

.myListElement::before {
    content: url(/images/asterisk.png);
}

.myListElement > p {
    padding-left: 6pt;
    display: inline;
}

.creditCardInfo {
	float: left;
}

.costs {
	float: right;
}

.costTags {
	text-align: right;
	display: inline-block;
	margin-right: 5pt;
}

.prices {
	text-align: left;
	display: inline-block;
}

.itemControls {
	float: right;
	padding-bottom: 5pt;
}

.itemPrice {
	float: right;
	margin: 0 5pt 0 0;
}

.itemQuantity {
	float: right;
	margin: 0 5pt 0 0;
}

.item {
	padding-top: 10pt;
	padding-bottom: 10pt;
	border-bottom: 1px solid gray;
}

.removeItemButton {
	float: right;
}
